# YOU CAN EDIT THE CONFIGURATION BELOW BY CHANGING OR REMOVING VARIABLES
# ALWAYS TAKE A BACKUP OF ANY EXISTING BOOKMARKS BEFORE CHANGING CONFIGURATION

# This file configures both the application and datase for use with docker compose. 
# You do not need this file if you don't wish to use docker compose.

# For more help on the different ways to configure fribrowse, see
# https://github/frimi01/fribrowse/docs/configuration.md

services:
  app:
    image: golang
    container_name: fribrowse-go-server
    working_dir: /app
    volumes:
      - .:/app
    command: go run server.go
    ports:
      - "3002:3002"
    environment:
      # Storage mode:
      # - couchdb (default and recommended with docker compose)
      # - json (stores bookmarks in a local JSON file, no database required)
      STORE: couchdb

      # CouchDB connection settings
      # These are ignored if STORE is set to "json"
      COUCH_URL: http://couchdb:5984
      COUCH_USER: admin
      COUCH_PASS: admin
      COUCH_DB: fribrowsedb
    depends_on:
      couchdb:
        condition: service_healthy


  # CouchDB database (used when STORE=couchdb)
  #
  # You can REMOVE this entire section if:
  # - You want to use STORE=json
  # - OR you already have your own CouchDB server
  couchdb:
    image: couchdb:latest
    container_name: bookmarks-couchdb
    restart: unless-stopped
    ports:
      - "5984:5984"
    environment:
      COUCHDB_USER: admin
      COUCHDB_PASSWORD: admin
    volumes:
      - couchdb-data:/opt/couchdb/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5984/_up"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Optional: Initializes CouchDB internal system databases
  # Safe to remove after the first successful startup
  couchdb-init:
    image: curlimages/curl:latest
    container_name: bookmarks-couchdb-init
    depends_on:
      couchdb:
        condition: service_healthy
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        echo "Creating CouchDB system databases..."
        curl -X PUT http://admin:admin@couchdb:5984/_users
        curl -X PUT http://admin:admin@couchdb:5984/_replicator
        curl -X PUT http://admin:admin@couchdb:5984/_global_changes
        echo "System databases created!"
    restart: "no"



#################Volumes#####################################
volumes:
  couchdb-data:
