services:
  fribrowse:
    image: localhost/fribrowse:test
    container_name: fribrowse-go-server
    restart: unless-stopped
    ports:
      - "3002:3002"
    environment:
      STORE: couchdb
      COUCH_URL: Database/URL/Here:5984
      COUCH_USER: Username
      COUCH_PASS: StrongPassword
      COUCH_DB: fribrowse
